In [ ]:
**Dictionary**
- we already seen
- string
- list
- Tuple
- set
- Dictionary
- int,float,bool ,complex
- range
- bytes
- eval is not a data type

In [ ]:
# By using lambda list reduce

str=b'hello'

In [ ]:
string=' '
list=[]
tuple=()
set={}
dictionary={key :value}

**zip**

In [2]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 30
Satish 40

In [3]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 30), ('Satish', 40)]

In [ ]:
dict1={<key>:<value>}
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
'Ramesh' is the key ===== 20 its related value
dict1={'Ramesh':20,'Suresh':30,'Satish':40}

In [4]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
type(dict1)

dict

**create all type of dictionaries**

In [6]:
dict2={'Ramesh':'d','Suresh':'g','Satish':'h'}
type(dict2)

dict

In [8]:
dict1={20:'Ramesh',7:'ravi',5:'suresh'}
type(dict1)

dict

In [10]:
dict1={'Ramesh':20.57,'Suresh':30.34,'Satish':40.34}
type(dict1)

dict

In [11]:
dict1={'Ramesh':20>2,'Suresh':30<40,'Satish':40>10}
type(dict1)

dict

In [13]:
dict1={20:20}
type(dict1)

dict

In [14]:
d5={'fruits':['Apple','cherry']}
d5

{'fruits': ['Apple', 'cherry']}

In [15]:
d5={['Apple','cherry']:'Fruits'}
d5

TypeError: unhashable type: 'list'

In [16]:
d5={('Apple','cherry'):'Fruits'}
d5

{('Apple', 'cherry'): 'Fruits'}

In [17]:
d6={'ajay':20,'ajay':30}
d6

{'ajay': 30}

In [18]:
d6={20:'ajay',25:'ajay'}
d6

{20: 'ajay', 25: 'ajay'}

In [19]:
d7={'fruits':{'Mango':25}}
d7

{'fruits': {'Mango': 25}}

**key are important**
- keys have only latest value
- no duplicate key
- key should be only one
- values can be duplicate
- which means different key
- list can not be a key , because list are mutable
- tuple can be a key , because tuple are immutable

**max**

In [20]:
d1={'manish':20,'shubam':30,'sam':40}
max(d1)

'shubam'

In [21]:
d2={20:'manish',30:'shubam',29:'sam'}
max(d2)

30

In [22]:
d2={20:'manish',20:'shubam',20:'sam'}
max(d2)

20

In [23]:
d2={20:'manish','20':'shubam',20:'sam'}
max(d2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [25]:
d2={'manish':20,'shubam':20,'sam':29}
max(d2)

'shubam'

In [27]:
d2={20:'manish',30:'shubam',9:'sam'}
max(d2)

30

In [29]:
d3={'manish':20,'shubam':'20','sam':29}
max(d3)

'shubam'

In [30]:
d4={'manish':'20','shubam':'30','sam':'40'}
max(d4)

'shubam'

In [32]:
d9={'20':'manish','26':'shubam','20':'sam'}
max(d9)

'26'

In [ ]:
**reversed**

- only keys will come in reverse

In [38]:
d3={'manish':20,'shubam':'20','sam':29}
list(sorted(d3,reverse=True))

['shubam', 'sam', 'manish']

In [34]:
d9={'20':'manish','26':'shubam','20':'sam'}
list(reversed(d1))

['sam', 'shubam', 'manish']

In [3]:
d3={'manish':20,'shubam':20,'sam':29}
# Dictionary is a key:value  pair
# we can not use  index number directly
# Whenver you want to call a value ,we will use key
d3['manish']
d3['shubam']
d3['sam']

29

In [8]:
for i in d3:
    print(f'{i} age   {d3[i]}')

manish age   20
shubam age   20
sam age   29

In [9]:
names=['Ravi','sai','sredhar']
age=[23,24,25]
for i,j in zip(names,age):
    print(f'{i} age is {j}')

Ravi age is 23
sai age is 24
sredhar age is 25

In [12]:
d3={'manish':20,'shubam':20,'sam':29}
keys,value=[],[]
for i in d3:
    keys.append(i)
    value.append(d3[i])
value

[20, 20, 29]

In [ ]:
keys=[i for i in d1]
values=[d[i] for i in

**How to create a empty list**

In [14]:
l=[]
l.append(20)
l

[20]

In [ ]:
**empty string**

In [ ]:
**empty dictionary**

In [27]:
d={}
d[<key>]=<value>
d

SyntaxError: invalid syntax (2110928593.py, line 2)

In [23]:
d4={}
d4['Bhanu']=23
d4

{'Bhanu': 23}

In [26]:
names=['Ravi','sai','sredhar']
age=[23,24,25]
for i,j in zip(names,age):
    d5[i]=j
d5

{'sredhar': 25, 'Ravi': 23, 'sai': 24}

**string to list**

In [29]:
s='hello hai hai  hai how how are you'
s.split()

['hello', 'hai', 'hai', 'hai', 'how', 'how', 'are', 'you']

**word frequency**

In [33]:
s='hello hai hai hai how how are you'
#o/p={'hello':1,'hai':3,'how':2,'are':1,'you':1}
count=0
words,count=[],[]
s.split()
for i in s:
    count=count+i
    words.append()

TypeError: can only concatenate list (not "str") to list

In [34]:
s='hello hai hai hai how how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 3, 'how': 2, 'are': 1, 'you': 1}

In [ ]:
#step= in the above sentances you need to remove a,an,the,as,and
step=data

In [ ]:
**mutable-immutable**
- change the elements using index
- but  in dictionary there is no index
- in dictionary we will change  the value based on key only
- instead of using the index change  the value using key
- if it changes it is mutable
- if it doesnot change it is immutable

In [35]:
d3={'manish':20,'shubam':20,'sam':29}
d3['sam']=22
d3

{'manish': 20, 'shubam': 20, 'sam': 22}

- list and dictionary are mutable
- tuple and strings are immutable
- Difference between list and tuple

In [39]:
d={'fruits':['mango']}
d['fruits']

['mango']

In [43]:
d={'fruits':[{'Apple':['kashmir']}]}
d['fruits'][0]['Apple'][0]

'kashmir'

In [49]:
d={'fruites':[
    {'Apple':
     {'kashmir':
      ['india']
     }
    }
]
  }
len('fruites')
d['fruites'][0]['Apple']['kashmir'][0]

'india'

In [56]:
d={'Fruites':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

**dictionary methods**

In [1]:
dir('') #string methods
dir([]) #list methods
dir(()) #tuple methods
dir({}) #dictionary method

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
string
list 
tuple 
dictionary are all class objects

In [2]:
print(type([]))

<class 'list'>

In [3]:
print(type(()))

<class 'tuple'>

In [4]:
print(type(''))

<class 'str'>

In [5]:
print(type({}))

<class 'dict'>

**items-keys-values**

In [6]:
d3={'manish':20,'shubam':20,'sam':29}
d3

{'manish': 20, 'shubam': 20, 'sam': 29}

In [7]:
#<package>.<methodname>

In [9]:
d3.items()

dict_items([('manish', 20), ('shubam', 20), ('sam', 29)])

In [10]:
d3.keys()

dict_keys(['manish', 'shubam', 'sam'])

In [11]:
d3.values()

dict_values([20, 20, 29])

In [12]:
#we already learn how to make a list from dictionary
d={'manish':20,'shubam':20,'sam':29}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])

keys,values

manish 20
shubam 20
sam 29

(['manish', 'shubam', 'sam'], [20, 20, 29])

In [13]:
type(d.keys())

dict_keys

In [14]:
list(d.keys())

['manish', 'shubam', 'sam']

In [15]:
list(d.keys()),list(d.values())

(['manish', 'shubam', 'sam'], [20, 20, 29])

- dictionary keys  will give dictionary keys items in a list
- it looks like a list ,but  it is not a list
- which means we can not apply list methods
- so we need to convert into list type ,by using list type casting

**method-1**

In [ ]:
#we already learn how to make a list from dictionary
d={'manish':20,'shubam':20,'sam':29}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])

keys,values

**method-2**

In [16]:
d={'manish':20,'shubam':20,'sam':29}
keys=list(d.keys())
values=list(d.values())

In [18]:
d.items()

dict_items([('manish', 20), ('shubam', 20), ('sam', 29)])

**method-3**

In [25]:
keys,values=[],[]
for i,j in d.items():
    print(i)
    keys.append(i)
    values.append(j)
keys,values

manish
shubam
sam

(['manish', 'shubam', 'sam'], [20, 20, 29])

In [ ]:
**how to read the text file**

- in order to read any file , we need 3 points
- where is the file located : dicrectory or folder name
- what is the file name
- what is the extension