## variables 
- variables are used to store the values 
- and the values can be change

In [2]:
number=100  # vlaue 100 stored in variable in 'number'
number       # shift+enter

100

In [3]:
number=200 # vlaue 200 stored in variable in 'number
number

200

**Note**

- python is step by step process

- python will take last output as the latest value

- in above code we are using same variable :number

- but number value changes two times

- first time 100

- second time 200

- latest value 200

In [4]:
NUMBER=200
NUMBER

200

In [5]:
number,NUMBER

(200, 200)

In [6]:
NUMBER=400
NUMBER

400

In [7]:
123number=300
123number

SyntaxError: invalid decimal literal (659526118.py, line 1)

In [8]:
number one=500
number one

SyntaxError: invalid syntax (817465192.py, line 1)

In [9]:
number_one=100
number_one

100

In [10]:
n1=100,200 
n1

(100, 200)

In [11]:
n2,n3=300
n2,n3

TypeError: cannot unpack non-iterable int object

In [12]:
n4,n5=200,300
n4,n5

(200, 300)

In [13]:
n4,n5=200,300
print(n4)
print(n5)

200
300

number=200   #works
NUMBER=300  #works
NUMber=500   #works
123number=600  #fails
num%ber=700  #fails
number one=800  #fails
number_one=900  #works
_=1000 #works
n1=100,200 #works
n1,n2=100 #fails
n1,n2=100,200 #works

In [7]:
n1,_=200,300

In [8]:
if=100

SyntaxError: invalid syntax (586179600.py, line 1)

if
while
else
elif
for
True
False

- python variables are case sensitive
- variables can be declare as capital letters
- variables can be declare as small letters
- variables can not start with numbers(prefix)
- numbers can be suffix of the varibles
- variables can not have special characters except underscore
- variables does not have space between names
- only underscore is possible
- keywords or reserved words can not use as variables
- two values can be assign to a single variable
- one value can not be assigned malitple variables

In [6]:
True

True