**list comprehension**

- we can store the  output values by using append operations
- we are taking empty list 
- we iterating through elements  from a given list
- the results we are appending in a new list

In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- there are almost 3 lines in the process 
- the three lines can be made into single line
- this is known as list comprehension

$pattren-1$


**only for loop**

In [2]:
#syntax
#[<output>  < for loop>]

In [3]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

#q1) what is the output? i*i
#q2) what is output list name? square_list
#q3)what is the for loop? for i in range
##[<output>  < for loop>]
square_list=[i*i for i in range(10)]

In [4]:
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#Q2) l1=['hyd','mumbai','chennai','blr']
l1=['hyd','mumbai','chennai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [6]:
#q1) what is the output? i*i
#q2) what is output list name? square_list
#q3)what is the for loop? for i in range
##[<output>  < for loop>]
l1=['hyd','mumbai','chennai','blr']
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [7]:
l1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lower_list=[i.lower() for i in l1]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [8]:
l2=['Hyd','Chennai','Mumbai','Blr']
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

In [9]:
l1=['Hyd','Chennai','Mumbai','Blr']
for i in l1:
    print(l1.index(i))

0
1
2
3

In [10]:
l2=['Hyd','Chennai','Mumbai','Blr']
indexlist=[l2.index(i) for i in l2]

In [11]:
sum(indexlist)

6

- making empty list not works  in list comprehension
- initaializion wil  not works in list comprehension 
- assignment operations also not works

$pattren-2$


**for loop - if condition**

In [12]:
#syntax
#[<output> <for loop> <if condition>]
l3=['Hyd','Chennai','Mumbai','Blr']
for i in l3:
    if len(i)>4:
        print(i)

Chennai
Mumbai

In [13]:
#q1) what is the output? 
#q2) what is output list name? 
#q3)what is the for loop? for i in l3
##[<output>  < for loop> <if condition>]

l3=['Hyd','Chennai','Mumbai','Blr']
op=[i for i in l3 if len(i)>4]
op

['Chennai', 'Mumbai']

In [14]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'

# Q4)l1=['hyd','mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai','Chennai','Blr']
#  we want lements which are len of element >4

# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital

# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are having '#'

# Q7) ask the user get 5 numbers randomly
#     even_list and odd_list
#     even numbers should append at even_list
#     odd number should append at odd_list

# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append

# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

# 10 )
#  You have two lists
# qns=['What is capital of India',
#      'Who is PM of india',
#       'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi
#      marks= marks+1
# print the total marks

IndentationError: unexpected indent (1934793472.py, line 36)

In [ ]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'

l1=['Hyd','Mum#bai','Chen#nai','blr']
for i in l1:
    if '#' in i :
      print(i)

In [ ]:
l1=['Hyd','Mum#bai','Chen#nai','blr']
op=[i for i in l1 if '#' in i]
op

In [ ]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital

l1=['Hyd','Mumbai','Chennai','blr']
op=[i for i in l1  if i.istitle() ]
op

In [ ]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are having '#'

l1=['Hyd','Mum#bai','Chen#nai','blr']
op1=[i for i in l1 if '#' in i]
op1

In [ ]:
op2=[i for i in l1 if '#'not in i]
op2

In [ ]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split('.')
list1[0][:list1[0].index('.')]  # virat
list1[1][:list1[1].index('.')]  #rohit
list1[2][:list1[2].index('.')]  # kl

f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])

In [ ]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
f_name=[]
for i in list1:
list1[0][:list1[0].index('.')]
f_name
f_name

$pattren-3$

**if-else**

In [ ]:
[<output> <for loop>] : for loop 
[[<output> <for loop> <if condition>] : for-if
[<if output> <if> <else> <elseoutput> <for>]: if-else

**even-odd**

In [2]:
[f"even:{i}" if i%2==0  else f'odd:{i}' for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']