**FUNCTIONS**
- A BLOCK of code which we can use many times

In [1]:
def addition():
    num1=10
    num2=20
    add=num1+num2
    print(add)

In [2]:
addition()

30

In [6]:
#function name and variable name should not be same 
def average():
    num1=10
    num2=20
    num3=30
    avg=num1+num2+num3/3
    avg1=round(avg,2)
    print(f' the avg of {num1} and {num2} and {num3} is: {avg1}')

In [5]:
average()

 the avg of 10 and 20 and 30 is: 40.0

In [7]:
def area():
    radius=eval(input('enter a radius value'))
    pi=3.14
    area=radius*radius*pi
    print(f'the area of a circle is:{area}')

In [8]:
area()

enter a radius value 25.2

the area of a circle is:1994.0256

In [9]:
height=eval(input('enter height of the triangle'))
base=eval(input('enter base of the triangle'))
area=height*base
print(f'area of triangle is:{area}')

enter height of the triangle 25
enter base of the triangle 36

area of triangle is:900

In [10]:
def area():
    height=eval(input('enter height of the triangle'))
    base=eval(input('enter base of the triangle'))
    area=height*base
    print(f'area of triangle is:{area}')

In [11]:
area()

enter height of the triangle 20.5
enter base of the triangle 36

area of triangle is:738.0

In [ ]:
bill_amount=eval(input("enter tha bill amount"))
pr

** functions with argument**
   - first look at how many arguments or variables are there
 -  in  that how many input variable are  there
 -  how

In [13]:
def addition2(num1,num2):
    add=num1+num2
    print(f' the addition of num1 and num2 is:{add}')

In [14]:
addition2(10,20)

 the addition of num1 and num2 is:30

In [15]:
#function name and variable name should not be same 
def average(num1,num2,num3):
    avg=num1+num2+num3/3
    avg1=round(avg,2)
    print(f' the avg of {num1} and {num2} and {num3} is: {avg1}')

In [16]:
average(20,30,60)

 the avg of 20 and 30 and 60 is: 70.0

In [17]:
def area_triangle(height,base):
    area=height*base
    print(f'area of triangle is:{area}')

In [20]:
area_triangle(20,36)

area of triangle is:720

In [21]:
def area_circle(radius,pi):
    area=radius*radius*pi
    print(f'area of circle is:{area}')

In [22]:
area_circle(36,3.14)

area of circle is:4069.44

- do not give function name and variable name same

In [3]:

#bill amount problem

bill=eval(input('enter bill amount'))
tip_percentage=eval(input('enter percentage'))
tip_amount=bill*tip_percentage/100
total=bill+tip_amount
print(f'the total bill is:{total}')

enter bill amount 25336
enter percentage 15

the total bill is:29136.4

In [4]:
def bill():
    bill=eval(input('enter bill amount'))
    tip_percentage=eval(input('enter percentage'))
    tip_amount=bill*tip_percentage/100
    total=bill+tip_amount
    print(f'the total bill is:{total}')

In [5]:
bill()

enter bill amount 2536
enter percentage 15

the total bill is:2916.4

In [12]:
def amount(bill,tip_percentage):
    tip_amount=bill*tip_percentage/100
    total=bill+tip_amount
    print('the total bill is:',total)

In [13]:
amount(2530,15)

the total bill is: 2909.5

In [22]:
def average(num1,num2,num3=50):
    print('num1',num1)
    print('num2',num2)
    print('num3',num3)
    avg=(num1+num2+num3)/3
    avg1=round(avg,3)
    print(f'the average of {num1} ,{num2} and {num3} is:{avg1}')

In [23]:
average(20,30)

num1 20
num2 30
num3 50
the average of 20 ,30 and 50 is:33.333

**note**
- default arguments  always at last

average1(num1,num2,num3=50)  #w
average1(num1,num2=30,num3)   #f
average1(num1=10,num2,num3)    #f
average1(num1,num2=20,num3=28)    #W
average1(num1=15,num2,num3=80)    #f
average1(num1=5,num2=25,num3=50)   #W

In [27]:
#case1
def addition(n1,n2=600):
    add=n1+n2
    print(add)

In [28]:
addition(500)

1100

In [29]:
def addition(n1,n2=1000):
    add=n1+n2
    print(add)

In [30]:
addition(500)

1500

In [ ]:
# f1rst we are defining function
#while define the function we given n2=600
# now we are calling  the function,
# while wwe are calling n2=1000
#python always takes latest value
# so we will overright

In [32]:
def addition(n1,n2=600):
    n2=2000
    add=n1+n2
    print(add)


addition(500,1000)

2500

#step1- define the function
#step2- call the function
#step3- run the function

In [35]:
 # case-4
def addition(n1,n2=1000):
    n2=2000
    add=n1+n2
    print(add)
n2=3000

addition(500,1000)

2500

**local variable and global variable**
- local variable means the variables inside function call
- global variable means the variable is outside the fuction call
- once you define the variables outside means, you can use those variables 
- you can use global variables inside function call but local variable cannot be used outside the function call

In [41]:
def multiplication():
    a=10
    b=15
    mul=a*b
    print(mul)

multiplication()

# a,b are local variable
# these values

150

In [38]:
a=10
b=20
def multiplication1():
    mult=a*b
    print(mult)

multiplication()

150

In [40]:
a

10

In [46]:
a=100
b=200
def add1(a=1000):
    add=a+b
    print(add)
add1()

# step 1- global variable intialization
# step 2- define function
# step 3- call the function
# step 4- run the function

1200

In [1]:
a1=100
b1=200
def add1(a1=1000):
    add=a1+b1
    print(add)
add1(a1=2000,b1=3000)

# while defining function only one argument is there
# while calling function we have two argument then it is not posible

TypeError: add1() got an unexpected keyword argument 'b1'

In [49]:
a1=100
b1=200
def add1(a1=1000):
    add=a1+b1
    print(add)
add1(a1=2000)

2200

In [51]:
a1=100
b1=200
def add1(a1=1000,b1=3000):
    add=a1+b1
    print(add)
add1(a1=2000,b1=4000)

6000

In [53]:
#case-8

a1=100
b1=200
def add1(a1=1000):
    a1=5000
    add=a1+b1
    print(add)
add1(a1=2000)

5200

In [54]:
#case-9

a1=100
b1=200
def add1(a1=1000):
    a1=5000
    add=a1+b1
    print(add)
a1=6000
add1(a1=2000)

5200

In [55]:
a1

6000

In [57]:
#case-10
b1=200
def add1():
    add=a1+b1
    print(add)
a1=6000
add1()

# b1=200
#define the function
#call the function
#run the function

6200

In [4]:
s1=0
def add():
    s=s1+10
    print(s)
add()

10

In [7]:
s=0                         #gv
def add():
    c=s+10
    s=c                #lv
    print(s)
add()

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [8]:
m1=10
def addition():
    m1=100
    m2=200
    m3=m1+m2
    print(m3,m1,m2)
addition()

300 100 200

In [15]:
n16=10
def addition():
    n16=100
    n26=200
    n36=n16+n26
    print(n16,n26,n36)
addition()

#n16=10
#define a function
#call the function
#run the function
#n16is global variable passing inside the function
#n26 is local variable

100 200 300

**Global**
- Global keyword is used to take the local variable value outside the function

In [16]:
value=100
def greet():
    global value
    value=200
    print('hello')
greet()

hello

In [17]:
value

200

In [18]:
n16=10
def addition():
    n16=100
    n26=200
    n36=n16+n26
    print(n16,n26,n36)
addition()

100 200 300

In [19]:
n33

NameError: name 'n33' is not defined

In [24]:
n16=10
def addition():
    n16=100
    global n26
    n26=200
    n36=n16+n26
    print(n16,n26,n36)
addition()

100 200 300

In [25]:
n26

200

In [33]:
n16=10
def addition():
    n16=100
    global n26,n36
    n26=200
    n36=n16+n26
    print(n16,n26,n36)
addition()

100 200 300

In [34]:
n36

300

In [35]:
n16

10

In [36]:
n26

200

In [41]:
def mul(a,b):
    print(a*b)


mul(eval(input()),
    eval(input))

 52

TypeError: eval() arg 1 must be a string, bytes or code object

In [ ]:
*return*

- we can use the local variable or function outside the function

-print is different

- return is different
- print is used only to print the value
- that value you can only see  but you can not use
-

In [42]:
def average():
    n1=10
    n2=20
    n3=30
    avg=(n1+n2+n3)/3
    print(avg)
average()

20.0

In [44]:
def average():
    n1=10
    n2=20
    n3=30
    avg=(n1+n2+n3)/3
    return(avg)
average()

# function is ready  to return values to me

20.0

In [46]:
def average():
    n1=10
    n2=20
    n3=30
    avg=(n1+n2+n3)/3
    return(avg)
avg=average()

#so i need to  the value

In [47]:
avg

20.0

In [56]:
def average():
    n1=10
    n2=20
    n3=30
    avg=(n1+n2+n3)/3
    return(avg,n3)
bhanu,n3=average()

#so i need to  the value
# how many value we returning
#we will store each return values in different variables 
# because two valves are different
#if you use only variable 
# return always at last line of function not in middle line

In [57]:
bhanu

20.0

In [58]:
bhanu

20.0

In [59]:
n3

30

In [62]:
def sub():
    a1=10
    b1=20
    subb=b1-a1
    return(subb)
subb=sub()

In [63]:
subb

10

In [66]:
def sub():
    a1=10
    b1=20
    subb=b1-a1
    return(a1,b1,subb)
out=sub()

In [67]:
out

(10, 20, 10)

In [ ]:
-without and with arguments
- default arguments
- global keywords
- return
- function in fuction
-